<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.net http://www.springframework.net/xsd/spring-objects.xsd">
  
    
  <object id="CodeMsgData" type="SmartCustomerService.Core.CodeMsgData,SmartCustomerService.Core">
    
    <property name="CodeMsgDic">
      
      <dictionary key-type="string" value-type="SmartCustomerService.Core.CodeMsg,SmartCustomerService.Core">
  
        <entry key="missingMethod" value-ref="missingMethod" ></entry>
        <entry key="missingParam" value-ref="missingParam"></entry>
       
      </dictionary>
    
    </property>
  </object>
  

  <object id="missingMethod" type="SmartCustomerService.Core.CodeMsg,SmartCustomerService.Core">
      <property name="Code" value="40000"/>
       <property name="Msg" value="缺少方法"/>
  </object>
  
  <object id="missingParam" type="SmartCustomerService.Core.CodeMsg,SmartCustomerService.Core">
      <property name="Code" value="40001"/>
      <property name="Msg" value="缺少参数"/>
  </object>
    
 
</objects>